<table st-table="consigneeList" st-safe-src="consignees"
	class="table table-striped">
	<thead>
		<tr>
			<th ng-hide="true"><input st-search="" class="form-control"
				placeholder="Search Here" type="text" /></th>
			<th colspan="2" ng-hide="true">
				<div class="pull-right">
					<label> Records Per Page</label> <input class="form-control"
						placeholder="" type="text" ng-model="itemsByPage" />
				</div>
			</th>
		</tr>

		<tr>
			<th st-sort="$index">SrNo.</th>
			<th st-sort="name">Name</th>
			<th st-sort="gstNo">GST No.</th>
			<th st-sort="contactName">Contact Name</th>
			<th st-sort="contactDetail">Contact Detail</th>
			<th st-sort="address">Address</th>
			<th>Action</th>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="consignee in consigneeList track by $index">
			<td>{{$index+1}}</td>
			<td>{{consignee.cosigneeName}}</td>
			<td>{{consignee.gstID}}</td>
			<td>{{consignee.consigneeContactName}}</td>
			<td>{{consignee.consigneeContactDetail}}</td>
			<td>{{consignee.address}}</td>
			<td><a href=""><i class="fa fa-trash-o text-danger"
					aria-hidden="true" ng-click="deleteConsignee(consignee)"></i></a> <a
				href=""><i class="fa fa-pencil-square-o" aria-hidden="true"
					ng-click="editConsignee(consignee.id)"></i></a></td>
		</tr>
	</tbody>
	<tfoot>
		<tr>
			<td colspan="100%" class="text-center">
				<div st-pagination="" st-items-by-page="itemsByPage"></div>
			</td>
		</tr>
	</tfoot>
</table>
