<div class="widgets"
	ng-controller="CustomerRegistrationController as vm">

	<div class="row">
		<div class="col-md-12">
			<div ba-panel ba-panel-title="Customer Registration"
				ba-panel-class="with-scroll">
	<ba-wizard>
			<!-- -----CUSTOMER DETAILS FORM -->	
		<ba-wizard-step title="Customer's Details"	form="vm.customerForm">
			 <ng-form name="vm.customerForm" novalidate>
				<div class="row">
					<div class="col-md-6">
						<div class="form-group has-feedback"
							ng-class="{'has-error': vm.customerForm.buyerName.$invalid && (vm.customerForm.buyerName.$dirty || vm.customerForm.$submitted)}">
							<label for="buyerName">Customer Name</label> <input type="text"
								class="form-control" id="buyerName" name="buyerName"
								placeholder="Customer Name" ng-model="customer.buyerName"
								required> <span
								class="help-block error-block basic-block">Required</span>
						</div>


						<div class="form-group has-feedback"
							ng-class="{'has-error': vm.customerForm.stateCode.$invalid && (vm.customerForm.stateCode.$dirty || vm.customerForm.$submitted)}">
							<label for="stateCode">State Code</label> <input type="text"
								class="form-control" id="stateCode" name="stateCode"
								placeholder="Sate Code" ng-model="customer.stateCode" required>
							<span class="help-block error-block basic-block">Required</span>
						</div>

						<div class="form-group has-feedback"
							ng-class="{'has-error': vm.customerForm.branchCode.$invalid && (vm.customerForm.branchCode.$dirty || vm.customerForm.$submitted)}">
							<label for="branchCode">Branch Code</label> <input type="text"
								class="form-control" id="branchCode" name="branchCode"
								placeholder="Branch Code" ng-model="customer.branchCode"
								required> <span
								class="help-block error-block basic-block">Required</span>
						</div>

						<div class="form-group has-feedback"
							ng-class="{'has-error': vm.customerForm.pinCode.$invalid && (vm.customerForm.pinCode.$dirty || vm.customerForm.$submitted)}">
							<label for="pinCode">Pin Code</label> <input type="text"
								class="form-control" id="pinCode" name="pinCode"
								placeholder="Pin Code" ng-model="customer.pinCode" required>
							<span class="help-block error-block basic-block">Required</span>
						</div>

						<div class="form-group has-feedback"
							ng-class="{'has-error': vm.customerForm.taxCat.$invalid && (vm.customerForm.taxCat.$dirty || vm.customerForm.$submitted)}">
							<label for="taxCat">Tax Category</label> <input type="text"
								class="form-control" id="taxCat" name="taxCat"
								placeholder="Tax Category" ng-model="customer.taxCat" required>
							<span class="help-block error-block basic-block">Required</span>
						</div>

					</div>
					<div class="col-md-6">



						<div class="form-group has-feedback"
							ng-class="{'has-error': vm.customerForm.gstID.$invalid && (vm.customerForm.gstID.$dirty || vm.customerForm.$submitted)}">
							<label for="gstID">GSTIN</label> <input type="text"
								class="form-control" id="gstID" name="gstID" placeholder="GSTIN"
								ng-model="customer.gstID" required> <span
								class="help-block error-block basic-block">Required</span>
						</div>

						<div class="form-group has-feedback"
							ng-class="{'has-error': vm.customerForm.vatNo.$invalid && (vm.customerForm.vatNo.$dirty || vm.customerForm.$submitted)}">
							<label for="vatNo">Vat No.</label> <input type="text"
								class="form-control" id="vatNo" name="vatNo"
								placeholder="Vat No." ng-model="customer.vatNo" required>
							<span class="help-block error-block basic-block">Required</span>
						</div>

						<div class="form-group"
							ng-class="{'has-error': vm.customerForm.tinNo.$invalid && (vm.customerForm.tinNo.$dirty || vm.customerForm.$submitted)}">
							<label for="tinNo">Tin No.</label> <input type="text"
								class="form-control" id="tinNo" name="tinNo"
								placeholder="Tin No" ng-model="customer.tinNo" required>
							<span class="help-block error-block basic-block">Required</span>
						</div>

						<div class="form-group"
							ng-class="{'has-error': vm.customerForm.panNo.$invalid && (vm.customerForm.panNo.$dirty || vm.customerForm.$submitted)}">
							<label for="panNo">Pan No.</label> <input type="text"
								class="form-control" id="panNo" name="panNo"
								placeholder="Pan No." ng-model="customer.panNo" required>
							<span class="help-block error-block basic-block">Required</span>
						</div>

						<div class="form-group"
							ng-class="{'has-error': vm.customerForm.phoneNo.$invalid && (vm.customerForm.phoneNo.$dirty || vm.customerForm.$submitted)}">
							<label for="phoneNo">Phone No.</label> <input type="text"
								class="form-control" id="phoneNo" name="phoneNo"
								placeholder="Phone No." ng-model="customer.phoneNo" required>
							<span class="help-block error-block basic-block">Required</span>
						</div>

					</div>

				</div>
				</ng-form>

		</ba-wizard-step>


            <!-- -----Billing Address FORM -->	
		<ba-wizard-step title="Billing Address Details" form="vm.customerBillingForm">
				<ng-form name="vm.customerBillingForm" novalidate>
				<div class="row">
					<div class="col-md-6">
						<div class="form-group has-feedback"
							ng-class="{'has-error': vm.customerBillingForm.billAddress.$invalid && (vm.customerBillingForm.billAddress.$dirty || vm.customerBillingForm.$submitted)}">
							<label for="billAddress">Address Line 1</label> <input
								type="text" class="form-control" id="billAddress"
								name="billAddress" placeholder="Address Line 1"
								ng-model="customer.billAddress" required> <span
								class="help-block error-block basic-block">Required</span>
						</div>

						<div class="form-group"
							ng-class="{'has-error': vm.customerBillingForm.billCountry.$invalid && (vm.customerBillingForm.billCountry.$dirty || vm.customerBillingForm.$submitted)}">
							<label for="billCountry">Country</label> <input type="text"
								class="form-control" id="billCountry" name="billCountry"
								placeholder="Country" ng-model="customer.billCountry" required>
							<span class="help-block error-block basic-block">Required</span>
						</div>

						<div class="form-group has-feedback"
							ng-class="{'has-error': vm.customerBillingForm.billCity.$invalid && (vm.customerBillingForm.billCity.$dirty || vm.customerBillingForm.$submitted)}">
							<label for="billCity">City</label> <input type="text"
								class="form-control" id="billCity" name="billCity"
								placeholder="City" ng-model="customer.billCity" required>
							<span class="help-block error-block basic-block">Required</span>
						</div>


					</div>
					<div class="col-md-6">
						<div class="form-group has-feedback"
							ng-class="{'has-error': vm.customerBillingForm.billAddress1.$invalid && (vm.customerBillingForm.billAddress1.$dirty || vm.customerBillingForm.$submitted)}">
							<label for="billAddress1">Address Line 2</label> <input
								type="text" class="form-control" id="billAddress1"
								name="billAddress1" placeholder="Address Line 2"
								ng-model="customer.billAddress1" required> <span
								class="help-block error-block basic-block">Required</span>
						</div>

						<div class="form-group has-feedback"
							ng-class="{'has-error': vm.customerBillingForm.billState.$invalid && (vm.customerBillingForm.billState.$dirty || vm.customerBillingForm.$submitted)}">
							<label for="billState">Sate</label> <input type="text"
								class="form-control" id="billState" name="billState"
								placeholder="State" ng-model="customer.billState" required>
							<span class="help-block error-block basic-block">Required</span>
						</div>

					</div>
				</div>
				</ng-form>
		</ba-wizard-step> 
		    
		    <!-- -----Shipping Address FORM -->	
		<ba-wizard-step title="Shipping Address Detail"	form="vm.shippingForm"> 
		<ng-form name="vm.shippingForm" novalidate>
				<div class="row">
					<div class="col-md-6">
						<div class="form-group has-feedback"
							ng-class="{'has-error': vm.shippingForm.address.$invalid && (vm.shippingForm.address.$dirty || vm.shippingForm.$submitted)}">
							<label for="address">Address Line 1</label> <input type="text"
								class="form-control" id="address" ng-model="customer.address"
								name="address" placeholder="Address Line 1" required>
							<span class="help-block error-block basic-block">Required</span>
						</div>


						<div class="form-group has-feedback"
							ng-class="{'has-error': vm.shippingForm.country.$invalid && (vm.shippingForm.country.$dirty || vm.shippingForm.$submitted)}">
							<label for="country">Country</label> <input type="text"
								class="form-control" id="country" name="country"
								placeholder="Country" ng-model="customer.country" required>
							<span class="help-block error-block basic-block">Required</span>
						</div>

						<div class="form-group has-feedback"
							ng-class="{'has-error': vm.shippingForm.city.$invalid && (vm.shippingForm.city.$dirty || vm.shippingForm.$submitted)}">
							<label for="city">City</label> <input type="text"
								class="form-control" id="city" name="city" placeholder="City"
								ng-model="customer.city" required> <span
								class="help-block error-block basic-block">Required</span>
						</div>

					</div>
					<div class="col-md-6">
						<div class="form-group has-feedback"
							ng-class="{'has-error': vm.shippingForm.address1.$invalid && (vm.shippingForm.address1.$dirty || vm.shippingForm.$submitted)}">
							<label for="address1">Address Line 2</label> <input type="text"
								class="form-control" id="address1" name="address1"
								placeholder="Address Line 2" ng-model="customer.address1"
								required> <span
								class="help-block error-block basic-block">Required</span>
						</div>

						<div class="form-group has-feedback"
							ng-class="{'has-error': vm.shippingForm.state.$invalid && (vm.shippingForm.state.$dirty || vm.shippingForm.$submitted)}">
							<label for="state">State</label> <input type="text"
								class="form-control" id="state" name="state" placeholder="State"
								ng-model="customer.state" required> <span
								class="help-block error-block basic-block">Required</span>
						</div>

					</div>

				</div>

		</ng-form> 
		</ba-wizard-step>

              <!-- -----Other Details FORM -->
		<ba-wizard-step title="Other Details" form="vm.customerOtherDetails">
			<ng-form name="vm.customerOtherDetails" novalidate>
				<div class="row">
					<div class="col-md-6">
						<div class="form-group has-feedback"
							ng-class="{'has-error': vm.customerOtherDetails.mobileNo.$invalid && (vm.customerOtherDetails.mobileNo.$dirty || vm.customerOtherDetails.$submitted)}">
							<label for="mobileNo">Mobile No.</label> <input type="text"
								class="form-control" id="mobileNo" name="mobileNo"
								placeholder="Mobile No." ng-model="customer.mobileNo" required>
							<span class="help-block error-block basic-block">Required</span>
						</div>

						<div class="form-group"
							ng-class="{'has-error': vm.customerOtherDetails.faxNo.$invalid && (vm.customerOtherDetails.faxNo.$dirty || vm.customerOtherDetails.$submitted)}">
							<label for="faxNo">Fax No.</label> <input type="text"
								class="form-control" id="faxNo" name="faxNo"
								placeholder="Fax No." ng-model="customer.faxNo" required>
							<span class="help-block error-block basic-block">Required</span>
						</div>

						<div class="form-group has-feedback"
							ng-class="{'has-error': vm.customerOtherDetails.primaryContactPerson.$invalid && (vm.customerOtherDetails.primaryContactPerson.$dirty || vm.customerOtherDetails.$submitted)}">
							<label for="primaryContactPerson">Primary Contact Person</label>
							<input type="text" class="form-control" id="primaryContactPerson"
								name="primaryContactPerson" placeholder="primaryContactPerson"
								ng-model="customer.primaryContactPerson" required> <span
								class="help-block error-block basic-block">Required</span>
						</div>

						<div class="form-group has-feedback"
							ng-class="{'has-error': vm.customerOtherDetails.primaryContactDesignation.$invalid && (vm.customerOtherDetails.primaryContactDesignation.$dirty || vm.customerOtherDetails.$submitted)}">
							<label for="primaryContactDesignation">Designation</label> <input
								type="text" class="form-control" id="primaryContactDesignation"
								name="primaryContactDesignation" placeholder="Designation"
								ng-model="customer.primaryContactDesignation" required>
							<span class="help-block error-block basic-block">Required</span>
						</div>

						<div class="form-group has-feedback"
							ng-class="{'has-error': vm.customerOtherDetails.primaryContactMobileNo.$invalid && (vm.customerOtherDetails.primaryContactMobileNo.$dirty || vm.customerOtherDetails.$submitted)}">
							<label for="primaryContactMobileNo">Primary Contact
								Mobile No.</label> <input type="text" class="form-control"
								id="primaryContactMobileNo" name="primaryContactMobileNo"
								placeholder="Primary Contact Mobile No."
								ng-model="customer.primaryContactMobileNo" required> <span
								class="help-block error-block basic-block">Required</span>
						</div>

						<div class="form-group has-feedback"
							ng-class="{'has-error': vm.customerOtherDetails.privateClientNote.$invalid && (vm.customerOtherDetails.privateClientNote.$dirty || vm.customerOtherDetails.$submitted)}">
							<label for="privateClientNote">Private Client Note</label>
							<textarea class="form-control" id="privateClientNote"
								name="privateClientNote" placeholder="Private Client Note"
								ng-model="customer.privateClientNote" required></textarea>
							<span class="help-block error-block basic-block">Required</span>
						</div>

					</div>
					<div class="col-md-6">
						<div class="form-group has-feedback"
							ng-class="{'has-error': vm.customerOtherDetails.primaryContactPhoneNo.$invalid && (vm.customerOtherDetails.primaryContactPhoneNo.$dirty || vm.customerOtherDetails.$submitted)}">
							<label for="primaryContactPhoneNo">Primary Contact Phone
								No.</label> <input type="text" class="form-control"
								id="primaryContactPhoneNo" name="primaryContactPhoneNo"
								placeholder="Primary Contact Phone No."
								ng-model="customer.primaryContactPhoneNo" required> <span
								class="help-block error-block basic-block">Required</span>
						</div>

						<div class="form-group has-feedback"
							ng-class="{'has-error': vm.customerOtherDetails.primaryContactSkype.$invalid && (vm.customerOtherDetails.primaryContactSkype.$dirty || vm.customerOtherDetails.$submitted)}">
							<label for="primaryContactSkype">Skype Id</label> <input
								type="text" class="form-control" id="primaryContactSkype"
								name="primaryContactSkype" placeholder="Skype Id"
								ng-model="customer.primaryContactSkype" required> <span
								class="help-block error-block basic-block">Required</span>
						</div>

						<div class="form-group has-feedback"
							ng-class="{'has-error': vm.customerOtherDetails.website.$invalid && (vm.customerOtherDetails.website.$dirty || vm.customerOtherDetails.$submitted)}">
							<label for="website">Website</label> <input type="text"
								class="form-control" id="website" name="website"
								placeholder="Website" ng-model="customer.website" required>
							<span class="help-block error-block basic-block">Required</span>
						</div>

						<div class="form-group has-feedback"
							ng-class="{'has-error': vm.customerOtherDetails.currency.$invalid && (vm.customerOtherDetails.currency.$dirty || vm.customerOtherDetails.$submitted)}">
							<label for="currency">Currency</label> <input type="text"
								class="form-control" id="currency" name="currency"
								placeholder="Currency" ng-model="customer.currency" required>
							<span class="help-block error-block basic-block">Required</span>
						</div>

						<div class="form-group has-feedback"
							ng-class="{'has-error': vm.customerOtherDetails.primaryContactDepartment.$invalid && (vm.customerOtherDetails.primaryContactDepartment.$dirty || vm.customerOtherDetails.$submitted)}">
							<label for="primaryContactDepartment">Department</label> <input
								type="text" class="form-control" id="primaryContactDepartment"
								name="primaryContactDepartment" placeholder="Department"
								ng-model="customer.primaryContactDepartment" required> <span
								class="help-block error-block basic-block">Required</span>
						</div>

						<div class="form-group has-feedback"
							ng-class="{'has-error': vm.customerOtherDetails.otherClientNote.$invalid && (vm.customerOtherDetails.otherClientNote.$dirty || vm.customerOtherDetails.$submitted)}">
							<label for="otherClientNote">Other Client Note</label>
							<textarea type="text" class="form-control" id="otherClientNote"
								name="otherClientNote" placeholder="Other Client Note"
								ng-model="customer.otherClientNote" required></textarea>
							<span class="help-block error-block basic-block">Required</span>
						</div>


					</div>

				</div>
			</ng-form> 
		</ba-wizard-step>
		
		<!-- -----Consignee Details FORM -->
		<ba-wizard-step title="Consignee Details" form="consigneeForm">
			<ng-form name="consigneeForm" novalidate>
				<div class="row">

					<div class="col-md-6">
						<div class="form-group has-feedback">
							<div class="col-md-8">
								<ui-select ng-model="selectedConsignee.selected"
									on-select="searchConsignee($item)" theme="bootstrap">
								<ui-select-match placeholder="Search Consignee">{{$select.selected.color}}</ui-select-match>
								<ui-select-choices
									repeat="item in allConsignees | filter: $select.search|  limitTo: '20'">
								<div>{{item.color}}</div>
								<small>{{item.value}}</small> </ui-select-choices> </ui-select>
							</div>
							<div class="col-md-4">

								<button type="button" class="btn btn-primary"
									data-toggle="modal"
									ng-click="open('app/pages/master/customer/consignee.html', 'lg')">
									Add Consignee</button>
							</div>
						</div>
					</div>

					<div class="col-md-6"></div>
				</div>
            </ng-form>
		</ba-wizard-step> 
	
	
	   <ba-wizard-step title="Finish">
                        <form class="form-horizontal" name="vm.finishForm" novalidate>
                            Congratulations! You have successfully filled the form!
                        </form>
                    </ba-wizard-step>
	</ba-wizard>
			</div>
		</div>
	</div>

</div>