<table st-table="companyList" st-safe-src="sellers"
	class="table table-striped">
	<thead>
		<tr>
			<th><input st-search="" class="form-control"
				placeholder="Search Here" type="text" /></th>
			<th colspan="2">
				<div class="pull-right">
					<label> Records Per Page</label> <input class="form-control"
						placeholder="" type="text" ng-model="itemsByPage" />
				</div>
			</th>
		</tr>

		<tr>
			<th st-sort="$index"><strong>SrNo.</strong></th>
			<th st-sort="sellerName"><strong>Company Name</strong></th>
			<th st-sort="gstID"><strong>GSTIN</strong></th>
			<th st-sort="panNo"><strong>PAN No.</strong></th>
			<th st-sort="serviceTaxNo"><strong>Service Tax No.</strong></th>
			<th><strong>Action</strong></th>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="company in companyList track by $index">
			<td>{{$index+1}}</td>
			<td>{{company.sellerName}}</td>
			<td>{{company.gstID}}</td>
			<td>{{company.panNo}}</td>
			<td>{{company.serviceTaxNo}}</td>
			<td><a href=""><i class="fa fa-trash-o text-danger"
					aria-hidden="true" ng-click="deleteCompany(company.id)"></i></a>&nbsp;&nbsp; <a
				href=""><i class="fa fa-pencil-square-o" aria-hidden="true"
					ng-click="editCompany(company.id)"></i></a></td>
		</tr>
	</tbody>
	<tfoot>
		<tr>
			<td colspan="100%" class="text-center">
				<div st-pagination="" st-items-by-page="itemsByPage"></div>
			</td>
		</tr>
	</tfoot>
</table>
