<table st-table="productList" st-safe-src="products"
	class="table table-striped">
	<thead>
		<tr>
			<th><input st-search="" class="form-control"
				placeholder="Search Here" type="text" /></th>
				<th colspan="2">
						<div class="pull-right">
							<label> Records Per Page</label> <input class="form-control"
								placeholder="" type="text" ng-model="itemsByPage" />
						</div>
					</th>
		</tr>
		
		<tr>
			<th st-sort="$index">SrNo.</th>
			<th st-sort="itemName">Name</th>
			<th st-sort="goodsDesc">Description</th>
			<th st-sort="hsnCode">HSN Code</th>
			<th st-sort="taxRate">Tax rate</th>
			<th>Action</th>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="product in productList track by $index">
		<td>{{$index+1}}</td>
			<td>{{product.itemName}}</td>
			<td>{{product.goodsDesc}}</td>
			<td>{{product.hsnCode}}</td>
			<td>{{product.taxRate}}</td>
			<td><a href=""><i class="fa fa-trash-o text-danger" aria-hidden="true"
							ng-click="deleteProduct(product.id)"></i></a></td>
		</tr>
	</tbody>
	     <tfoot>
				<tr>
					<td colspan="100%" class="text-center">
						<div st-pagination="" st-items-by-page="itemsByPage"></div>
					</td>
				</tr>
			</tfoot>
</table>
