<div class="add-row-editable-table">
  <button class="btn btn-primary" ng-click="addUser()">Add row</button>
</div>
<table class="table table-bordered table-hover table-condensed">
  <tr>
    <td>SrNo.</td>
    <td>Name</td>
    <td>Status</td>
    <td>Group</td>
    <td>Actions</td>
  </tr>
  <tr ng-repeat="product in products" class="editable-row">
    <td>
        {{$index}}
    </td>
    <td>
        <span editable-text="user.name" e-name="name" e-form="rowform" e-required>
          {{ product.goodsDesc }}
        </span>
    </td>
     <td>
        <span editable-text="user.name" e-name="name" e-form="rowform" e-required>
          {{ product.itemName }}
        </span>
    </td>
     <td>
        <span editable-text="user.name" e-name="name" e-form="rowform" e-required>
          {{ product.hsnCode }}
        </span>
    </td>
     <td>
        <span editable-text="user.name" e-name="name" e-form="rowform" e-required>
          {{ product.taxRate }}
        </span>
    </td>
    
    <td>
      <form editable-form name="rowform" ng-show="rowform.$visible" class="form-buttons form-inline"
            shown="inserted == user">
        <button type="submit" ng-disabled="rowform.$waiting" class="btn btn-primary editable-table-button btn-xs">
          Save
        </button>
        <button type="button" ng-disabled="rowform.$waiting" ng-click="rowform.$cancel()" class="btn btn-default editable-table-button btn-xs">
          Cancel
        </button>
      </form>
      <div class="buttons" ng-show="!rowform.$visible">
        <button class="btn btn-primary editable-table-button btn-xs" ng-click="rowform.$show()">Edit</button>
        <button class="btn btn-danger editable-table-button btn-xs" ng-click="removeUser($index)">Delete</button>
      </div>
    </td>
  </tr>
</table>
